[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask-appbuilder = "*"
requests = "*"
psycopg2 = "*"
sqlalchemy = "==1.3.7"
oos2 = "*"
appium = "*"
flask-migrate = "*"
mitmproxy = "*"
geoalchemy2 = "*"

[requires]
python_version = "3.6"
